#include "asteroid.dtsi"

&kscan0 {
    row-gpios
        = <&gpio0 6 GPIO_ACTIVE_LOW>  // P0.06 (row1)
        , <&gpio0 8 GPIO_ACTIVE_LOW>  // P0.08 (row2)
        , <&gpio0 17 GPIO_ACTIVE_LOW> // P0.17 (row3)
        , <&gpio0 20 GPIO_ACTIVE_LOW> // P0.20 (row4)
        , <&gpio0 22 GPIO_ACTIVE_LOW> // P0.22 (row5)
        , <&gpio0 11 GPIO_ACTIVE_LOW> // P0.11 (row6)
        ;
    col-gpios
        = <&gpio1 15 GPIO_ACTIVE_HIGH> // P1.15 (col1)
        , <&gpio1 0 GPIO_ACTIVE_HIGH>  // P1.00 (col2)
        , <&gpio1 4 GPIO_ACTIVE_HIGH>  // P1.04 (col3)
        , <&gpio1 6 GPIO_ACTIVE_HIGH>  // P1.06 (col4)
        , <&gpio1 13 GPIO_ACTIVE_HIGH> // P1.13 (col5)
        , <&gpio1 11 GPIO_ACTIVE_HIGH> // P1.11 (col6)
        ;
};