if SHIELD_ASTEROID_LEFT

config ZMK_KEYBOARD_NAME
    default "Asteroid"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ASTEROID_LEFT || SHIELD_ASTEROID_RIGHT

config ZMK_SPLIT
    default y

endif